<% provide(:title, "404") %>
<% provide(:description, "I'm sorry, that particular URL does not exist.") %>

<div class="container">
	<h1>404 Not Found</h1>
	<p>Well, I could not find it anyway...</p>
</div>
