<% provide(:title, "Privacy") %>
<% provide(:description, "Details on information that we gather and what we do with it.") %>

<div class="container">
	<h1>Privacy</h1>
	<h3><%= @privacy %></h3>
</div>
