<div class="container">
  <h1><%= @station.name %></h1>
  <ul class="nav nav-tabs">
  	<li role="presentation" class="active"><a href="#">Summary</a></li>
	<li role="presentation"><a href="<%= @station.url + "/departures" %>">Departures</a></li>
	<li role="presentation"><a href="<%= @station.url + "/arrivals" %>">Arrivals</a></li>
  </ul> 
</div>
