<% provide(:title, "Badges") %>
<% provide(:description, "Get awarded for using the app. Compete with friends and people from across the UK.") %>

<div class="container">
	<h1>Badges</h1>
	  
	<table class="table table-striped">
	<% @badges.each do |badge| %>
		<tr><td><%= link_to badge, badge.url %></td></tr>
	<% end %>
	</table>

	<%= paginate @badges %>

</div>
