<div class="container">
  <h1><%= @user.username %></h1>
  <p>Journeys: <%= @user.journeys.includes(:journey_legs).inspect %></p>
  <p>Badges: <%= @user.badges.inspect %></p>
  <p>Points: <%= @user.points %></p>
</div>
