<div class="container">
  <h1>Operators</h1>
  
  <%= form_tag(operators_path, method: :get) do %>
	<div class="well">
		<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for an operator", autofocus: true, value: @q) %>
	</div>
  <% end %>
  
  <table class="table table-striped">
  <% @operators.each do |operator| %>
    <tr>
      <td><%= link_to operator, operator.url %></td>
    </tr>
  <% end %>
  </table>
  
  <%= paginate @operators %>

</div>
