<% provide(:title, "Operators") %>
<% provide(:description, "List of all the Train Operating Companies.") %>

<div class="container">
 	<h1>Operators</h1>

	<%= form_tag(operators_path, method: :get, class: "mb-3") do %>
		<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for an operator", autofocus: true, value: @q) %>
	<% end %>

	<div class="list-group">
	<% @operators.each do |operator| %>
		<%= link_to operator, operator.url, class: "list-group-item" %>
	<% end %>
	</div>

	<%= paginate @operators %>

</div>
